/* Обнулення дефолтних маржинів для заголовків та параграфів */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* Обнулення дефолтних маржинів та лівого падінгу для списків */
ul,
ol {
    margin: 0;
    padding-left: 0;
}

/* Робимо зображення блочними елементами */
img {
    display: block;
    max-width: 100%;
    /* Забезпечує адаптивність зображення */
    height: auto;
    /* Зберігає пропорції зображення */
}

/* Визначення ширини та падінгів для контейнера */
.container {
    width: 100%;
    max-width: 1200px;
    /* Встановлює максимальну ширину контейнера */
    padding: 0 16px;
    /* Встановлює горизонтальні відступи всередині контейнера */
    margin: 0 auto;
    /* Центрує контейнер */
}
body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.logo {
    color: #2e2f42;
}

.nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-link:hover {
    color: #404bbf;
}

.nav-link:focus {
    color: #404bbf;
}

.address {
    font-style: normal
}

.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}

.page {
    background-color: #2e2f42;
}

.page-title {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}

.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;


}

.button:hover {
    background-color: #404BBF;
}

.button:focus {
    background-color: #404BBF;
}

.content-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.content-info {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.foto {
    background-color: #F4F4FD
}

.foto-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.content-list-title {
    background-color: #FFFFFF
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize
}

.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-par {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.footer {
    background-color: #2e2f42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo {
    color: #f4f4fd;
}

.footer-title {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}
.header {
    border-bottom: 1px solid #e7e9fc
    }
    .container-1 {
        display: flex;
        width: 1158px;
        margin: 0 auto;
        padding: 0 15px;
    }
       .nav-logo {
        display: flex;
        align-items: center;
       }